@charset "utf-8";
/* CSS Document */

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    src: local('HelveticaNeue Light'), local('HelveticaNeue-Light'),
    url(../font/HelveticaNeueLt.ttf),
    url(../font/HelveticaNeueLt.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: italic;
    font-weight: 200;
    src: local('HelveticaNeue Light-Italic'), local('HelveticaNeue-Light-Italic'),
    url(../font/HelveticaNeueLtIt.ttf),
    url(../font/HelveticaNeueLtIt.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    src: local('HelveticaNeue Roman'), local('HelveticaNeue-Roman'),
    url(../font/HelveticaNeueRoman.ttf),
    url(../font/HelveticaNeueRoman.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: italic;
    font-weight: 400;
    src: local('HelveticaNeue Italic'), local('HelveticaNeue-Italic'),
    url(../font/HelveticaNeueIt.ttf),
    url(../font/HelveticaNeueIt.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 500;
    src: local('HelveticaNeue Medium'), local('HelveticaNeue-Medium'),
    url(../font/HelveticaNeueMd.ttf),
    url(../font/HelveticaNeueMd.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 600;
    src: local('HelveticaNeue Bold'), local('HelveticaNeue-Bold'),
    url(../font/HelveticaNeueBd.ttf),
    url(../font/HelveticaNeueBd.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: oblique;
    font-weight: 600;
    src: local('HelveticaNeue Bold Condence'), local('HelveticaNeue-Bold-Condence'),
    url(../font/HelveticaNeueBdCn.ttf),
    url(../font/HelveticaNeueBdCn.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 700;
    src: local('HelveticaNeue Heavy'), local('HelveticaNeue-Heavy'),
    url(../font/HelveticaNeueHv.ttf),
    url(../font/HelveticaNeueHv.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: normal;
    font-weight: 800;
    src: local('HelveticaNeue Black'), local('HelveticaNeue-Black'),
    url(../font/HelveticaNeueBlk.ttf),
    url(../font/HelveticaNeueBlk.woff);
}

@font-face {
    font-family:"Helvetica Neue";
    font-style: oblique;
    font-weight: 800;
    src: local('HelveticaNeue Black Condence'), local('HelveticaNeue-Black-Condence'),
    url(../font/HelveticaNeueBlkCn.ttf),
    url(../font/HelveticaNeueBlkCn.woff);
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1 {
    font-size: 2em;
    font-weight: 500;
    color: #252525;
    margin-bottom: 80px;
}

.h1 {
    font-size: 2em;
    font-weight: 500;
    color: #252525;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #252525;
    margin-bottom: 1.5em;
}

.h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #252525;
}

.letter-spacing-s {
    letter-spacing: -0.5px;
}

.letter-spacing-m {
    letter-spacing: -1px;
}

h3 {

}


.btn-font {
    font-size: 1em;
    font-weight: 700;
    color: #3d3d3d;
}

.btn-dark {
    color: white;
}

.btn-medium {
    font-size: 1.3em;
}

.btn-large {
    font-size: 1.5em;
    letter-spacing: -1px;
}


.highlight {
    color: #fec222;
}

.light {
    font-weight: 200;
}

.italic {
    font-style: italic;
}

.content-large {
    font-size: 1.5em;
}

.content-light {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    color: #464646;
}

.content {
    font-size: 1em;
    font-weight: 400;
    color: #464646;
}

.content-dark-style {
    color: #e6e6e6;
}

/*---------------------NAVIGATION-----------------*/
nav a{
    font-size: 1.5em;
    font-weight: 800;
    font-style: oblique;
    color: #7d7d7d;
}

nav a,
nav a:link,
nav a:visited,
nav a:active {
    color: #7d7d7d;
}

nav a:hover,
#wwt .filter a:hover,
#wwt .article-view .more a:hover {
    color: #fec222;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

/*---------------------------HERO------------------------------*/

#hero .content-stress {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

#hero .title {
    font-size: 4em;
    font-weight: 800;
    font-style: oblique;
}

/*---------------------------TITLE-----------------------------*/
#title .motto {
    font-size: 2em;
    font-weight: 500;
    color: #363636;
}

#title .motto-detail {
    font-size: 1.4em;
    font-weight: 500;
    color: #363636;
    line-height: 1.5em;
    letter-spacing: -1px;
}

/*---------------------------FOOTER----------------------------*/
footer {
    color: #ffffff;
}

footer .title {
    font-size: 1.5em;
    font-weight: 600;
    font-style: oblique;
    line-height: 3em;
}

footer .content {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    color: white;
}

footer .content-light {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    color: #e6e6e6;
}

.content-stress {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
}

footer input {
    font-weight: 200;
    color: #e6e6e6;
}

footer input::-webkit-input-placeholder { 
    font-style: italic;
    font-weight: 200;
    color: #e6e6e6;
}
footer input:-moz-placeholder { 
    font-style: italic;
    font-weight: 200;
    color: #e6e6e6;
}
footer input::-moz-placeholder { 
    font-style: italic;
    font-weight: 200;
    color: #e6e6e6;
}
footer input:-ms-input-placeholder { 
    font-style: italic;
    font-weight: 200;
    color: #e6e6e6;
}
 /*--------------------------------WHAT WE TALK-----------------------------*/
#wwt #column-right .content {
    line-height: 1.4em;
    margin-bottom: 0.5em;
}

