@charset "utf-8";
/* CSS Document */

.wrap {
    width: 1050px;
    margin: 0 auto;
}

.container {
    margin-top: 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.middle {
    margin: 0 auto;
}

.center {
    vertical-align: middle;
}


.relative {
    position: relative;
}

.clear:before,
.clear:after {
    clear: both;
    display: table;
    content: '';
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul,
ul li {
    display: inline-block;
}

.segment {
    background-color: #fec222;
    height: 5px;
    width: auto;
}

.segment-dark {
    background-color: #7d7d7d;
}

.btn {
    border: 2px solid #fec222;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 12px 50px;
    text-align: center;
    -webkit-appearance: none;
    background-color: rgba(255,255,255,0.0);
    box-sizing: border-box;
}

.btn:hover {
    background-color: #fec222;
    color: white;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn-medium {
    padding: 12px 72px;
    border: 3px solid #fec222;
    border-radius: 7px;
}

.btn-large {
    padding: 13px 97px;
    border: 3px solid #fec222;
    border-radius: 8px;
}

.segment-line {
    width: 100%;
    height: 8px;
    background-image: url("../img/segment_line.png");
}

.segment-line-s {
    height: 4px;
}

/*-------------- HEADER ----------------*/
#logo {
    margin: 8px auto 11px 0;
    width: 96px;
    height: 96px;
}

#logo img {
    width: 96px;
}

ul.medium-name {
    display: block;
    margin-top: 24px;
    text-align: right;
    height: 32px;
}

ul.medium-name li {
    padding-left: 20px;
}

ul.medium-name a {
    height: 32px;
}

ul.navigation {
    display: block;
    margin-top: 24px;
    text-align: right;
    height: 24px;
}

ul.navigation li {
    padding-left: 60px;
}

ul.navigation a {
    height: 24px;
}

/*----------------------HERO------------------------*/
#hero {
    height: 800px;
    width: auto;
}

#slides {
    height: 800px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

#slide_1 {
    background-image: url("../img/hero_1.png");
}

#slides .text {
    padding-top: 16px;
    width: 480px;
    z-index: 100;
    word-wrap: break-word;
}

#slides-bar {
    position: absolute;
    bottom: 48px;
    z-index: 100;
    text-align: center;
    width: 100%;
}

.active {
    background-position: bottom;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.point {
    width: 16px;
    height: 16px;
    background-image: url("../img/slides_point.png");
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin: 0 32px;
}

/*---------------------TITLE--------------------------*/
#title {
    background-color: #fec222;
    text-align: center;
    padding: 80px 0;
}

#title .motto-detail {
    width: 720px;
    word-wrap: break-word;
}

#title .segment {
    width: 820px;
    border-bottom: 2px solid #666666;
    margin-bottom: 24px;
    opacity: 0.3;
}
/*---------------------FOOTER-------------------------*/
footer {
    background-color: #303030;
    margin-top: 32px;
    padding-bottom: 80px;
}

footer .contact-us {
    margin-right: 140px;
}

footer .medium {
    margin-bottom: 16px;
    width: 120px;
}

footer .medium-name {
    height: 32px;
    padding-left: 10px;
    line-height: 32px;

}

footer .p-wrap {
    width: 340px;
    word-wrap: break-word;
}

footer .form-wrap {
    width: 340px;
    height: auto;
    margin-top: 64px;
}
footer .form {
    width: 100%;
    height: auto;
}

#subscription input:not(.btn) {
    width: 324px;
    margin: 0 8px 24px 0;
    padding-bottom: 4px;
    padding-left: 4px;
    background-color: rgba(255,255,255,0.0);
    border: none;
    border-bottom: 2px solid #fec222;
    float: right
}

#subscription input[type = "submit"] {
    margin-top: 24px;
    margin-right: 8px;
    float: right;
}

/*---------------------------PROGRAM_DETAIL_PAGE--------------------------*/
.page-hero {
    width: 100%;
    height: 504px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#infinite-page-hero {
    background-image: url("../img/infinite_page_hero.jpg");
}
#project-intro {
    margin-top: 96px;
}

#project-intro .avatar {
    margin-left: 36px;
    margin-top: 16px;
}

.project-intro {
    width: 580px;
    margin-right: 120px;
    word-wrap: break-word;
}

.project-highlight {
    height: 64px;
    line-height: 64px;
    margin-right: 48px;
}

#project-highlight ul {
    position:relative; left:50%; float:left;
}
#project-highlight ul li{
    position:relative; right:50%; float:left;
}
#project-highlight {
    min-width: 1150px;
}

li.project-highlight img {
    height: 64px;
    margin-right: 16px;
}

#project-detail {
    margin-bottom: 80px;
}

#project-detail .padding {
    padding: 56px 48px 80px 48px;
}

#project-detail .column {
    width: 424px;
    word-wrap: break-word;
}

/*-----------------------------------WHAT WE TALK--------------------------------*/
#column-left {
    width: 580px;
    height: auto;
    word-wrap: break-word;
}

#column-right {
    width: 340px;
    height: auto;
    word-wrap: break-word;
}

#column-right .space {
    margin: 120px 0;
    text-indent: -9999px;
}

#wwt a {
    color: inherit;
}

.article-view>img {
    margin: 40px 0 24px 0;
}

.article-view p[class="content"] {
    margin-bottom: 40px;
}

.article-view .more {
    margin: 24px 0 80px 8px;
}

.article-view .more .read-more {
    line-height: 32px;
}

.social-share img{
    height: 32px;
    margin-right: 20px;
}

.title-view {
    margin: 32px 0 16px 0;
}

.paragraph>p{
    margin-bottom: 1em;
}