@charset "utf-8";
/* CSS Document */

.wrap {
    width: 1050px;
    margin: 0 auto;
}

.container {
    margin-top: 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.middle {
    margin: 0 auto;
}

.center {
    vertical-align: middle;
}

.relative {
    position: relative;
}

.clear:before,
.clear:after {
    clear: both;
    display: table;
    content: '';
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    display: block;
}

ul,
ul li {
    display: inline-block;
}

/*-------------- HEADER ----------------*/
#logo {
    margin: 8px auto 11px 0;
    width: 96px;
    height: 96px;
}

#segment {
    background-color: #fec222;
    height: 5px;
    width: auto;
}

ul.medium-name {
    display: block;
    margin-top: 24px;
    text-align: right;
    height: 32px;
}

ul.medium-name li {
    padding-left: 20px;
}

ul.medium-name a {
    height: 32px;
}

ul.navigation {
    display: block;
    margin-top: 24px;
    text-align: right;
    height: 24px;
}

ul.navigation li {
    padding-left: 60px;
}

ul.navigation a {
    height: 24px;
}

/*----------------------HERO------------------------*/
#hero {
    height: 800px;
    width: auto;
}

#slides {
    height: 800px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

#slide_1 {
    background-image: url("../img/hero_1.png");
}

/*---------------------FOOTER-------------------------*/
footer {
    background-color: #303030;
    margin-top: 32px;
    padding-bottom: 80px;
}

footer .contact-us {
    margin-right: 140px;
}

footer .medium {
    margin-bottom: 16px;
}

footer .medium-name {
    height: 32px;
    padding-left: 10px;
    padding-top: 4px;

}

footer .p-wrap {
    width: 340px;
    word-wrap: break-word;
}

footer .form-wrap {
    width: 340px;
    height: auto;
    margin-top: 64px;
}
footer .form {
    width: 100%;
    height: auto;
}

#subscription input:not(.btn) {
    width: 324px;
    margin: 0 8px 24px 0;
    padding-bottom: 4px;
    padding-left: 4px;
    background-color: rgba(255,255,255,0.0);
    border: none;
    border-bottom: 2px solid #fec222;
    float: right
}

#subscription input[type = "submit"] {
    margin-top: 24px;
    margin-right: 8px;
    float: right;
}

.btn {
    border: 2px solid #fec222;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 12px 50px;
    text-align: center;
    -webkit-appearance: none;
    background-color: rgba(255,255,255,0.0);
    box-sizing: border-box;
}